* {
  box-sizing: border-box;
}
@font-face {
  font-family: Acme-Regular;
  src: url(font/Acme-Regular.ttf);
}

main {
  margin-bottom: 50px;
}

h1 {
  padding-left: 200px;
  padding-right: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #f8e505;
  font-size: 13ch;
  -webkit-text-stroke: 3px black;
  text-shadow: 3px 3px 3px #000, #000, #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 7rem;
}

h2 {
  text-align: center;
}
div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smallbox {
  border: 5px solid black;
  background-image: url(Images/headbgduck.png);
  height: 150px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 8ch;
}
body {
  background-color: #e8d5c4;
  font-family: Acme-Regular;
  background-image: url("Images/bgduck.png");
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  max-width: 300px;
  max-height: 300px;
  /* border: 5px solid black; */
}

header {
  display: flex;
  flex-direction: row;
  background-color: #0097b2;
  max-height: 300px;
  border: 5px solid black;
  border-radius: 12px;
  background-image: url("Images/headbgduck.png");
  margin-bottom: 2rem;
}

.images:hover {
  box-shadow: 20px 20px 20px 20px rgb(0, 151, 178, 0.5),
    20px 17px 50px 20px rgb(0, 151, 178, 0.19);
  border: 10px #f8e505;
  border-style: solid;
}

.images2 {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 5px dashed black;
}

.button {
  background-color: #0097b2;
  border: none;
  color: white;
  padding: 64px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: #0097b2;
  color: black;
  border: 4px solid black;
  font-weight: bolder;
  background-image: url(Images/headbgduck.png);
}

.button5:hover {
  background-color: #f8e505;
  color: Black;
  font-weight: bolder;
  background-image: url(Images/quack.gif);
}

ul {
  background-color: #e8d5c4;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-image: url(Images/headbgduck.png);
  border: 5px solid black;
  display: flex;
  align-items: flex-start;
}

#chartFlex {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#seethrough {
  background-color: #e8d5c4;
  opacity: 80%;
}

#gif {
  border-right: #000 solid 15px;
}

.gifsize {
  width: 50;
  height: 50;
}

.backDoor {
  background-image: url(Images/ducktowel.gif);
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.door {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 300px;

  transform-origin: left;

  transition: all 0.5s ease-in-out;
}

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(-105deg);
}

p {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}

.dark {
  color: white;
  background-color: #555;
}

.light {
  color: black;
  background-color: white;
}
